.theme1 {
  background-color: #d789d7;
  color: #5d54a4;
}

.theme1 h1 {
  color: #9d65c9;
}

.theme1 input {
  border-color: #2a3d66;
}

.theme1 .hobbies-list {
  border-color: #2a3d66;
}

.theme2 {
  background-color: #e5df88;
  color: #a37eba;
}

.theme2 h1 {
  color: #e8e8e8;
}

.theme2 input {
  border-color: #4c4c4c;
}

.theme2 .hobbies-list {
  border-color: #4c4c4c;
}

.theme3 {
  background-color: #ffd5cd;
  color: #c3aed6;
}

.theme3 h1 {
  color: #efbbcf;
}

.theme3 input {
  border-color: #8675a9;
}

.theme3 .hobbies-list {
  border-color: #8675a9;
}

.hobbies-list {
  padding: 15px;
  border-width: 1px;
  border-style: solid;
}
